:root {
  --card-color: black;
  --title-size: 10vh;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.arrow {
  color: var(--card-color);
  border: 1px solid black;
}

.what-is-this {
  --card-color: rgb(119, 101, 227);
  --title-size: 12.5vh;
}

.go-vegan {
  --card-color: rgb(144, 188, 75);
}

.dont-go-vegan {
  --card-color: 	rgb(131, 154, 162);
}

.contact-me {
  --card-color: rgb(45, 51, 25);
  --title-size: 7.5vh;
}

.pad-below {
  margin-bottom: auto;
}

#jumpBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  height: 100vh;
  justify-content: flex-end;
}

#jumpBar > * {
  height: 10vh;
  width: 10vh;
}

#jumpBar > * > a {
  color: var(--card-color);
}

.page-box {
  text-decoration: none;
}

.page-box > div {
  position: relative;
  border: 7.5px solid var(--card-color);
  height: 30vh;
  width: 90vw;
  display: table;
  margin: 5px;
  color: var(--card-color);
}

.page-box:target > div {
  padding: 10px;
}

.question-background {
  position: absolute;
  top: -7.5px;
  left: -5px;
  bottom: -7.5px;
  right: -5px;
  z-index: -1;
  overflow: hidden;
  font-size: 20px;
  line-height: 19.5px;
  text-align: center;
}

.question-background > span:nth-child(odd) {
  opacity: 0.75;
}

.question-background > span:nth-child(even) {
  opacity: 0.5;
}

.page-box:target .question-background {
  display: none;
}

.question-title {
  font-size: var(--title-size);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white,
    -2px -2px 10px white,
    2px -2px 10px white,
    -2px 2px 10px white,
    2px 2px 10px white;
}

.page-box:target .question-title {
  display: table-row;
  --title-size: 5vh;
  text-align: left;
}

.answer {
  display: none;
}

.page-box:target .answer {
  display: inline;
}
