<div id="jumpBar">
  <!-- FIXME Replace anchors with something that won't change URL, preventing people from sharing poor quality links -->
  <i class="what-is-this arrow up pad-below">
    <a href="#what-is-this">What is this? / Jump to top</a>
  </i>

  <!-- <i class="last-letter arrow up">Jump to last letter</i>
  <i class="last-question arrow up pad-below">Jump to last question</i>

  <i class="question-to-ask arrow down pad-below">I have a question for you</i>

  <i class="next-question arrow down">Jump to next question</i>
  <i class="next-letter arrow down pad-below">Jump to next letter</i> -->

  
  <i class="go-vegan arrow down">
    <a href="#go-vegan">Go vegan</a>
  </i>
  
  <i class="dont-go-vegan arrow down">
    <a href="#dont-go-vegan">Don't go vegan</a>
  </i>
  
  <i class="contact-me arrow down">
    <a href="#contact-me">Contact Me</a>
  </i>
</div>
